<body>
    <section *ngIf="!registrationComplete">
        <h1>Create Account</h1>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
            <label for="username">Enter Username:</label>
            <input type="text" id="username" value="" formControlName="username">
            <label for="password">Enter Password:</label>
            <input type="password" id="password" value="" formControlName="password">
            <label for="confirm">Confirm Password:</label>
            <input type="password" id="confirm" value="" formControlName="confirm">
            <input type="submit" [disabled]="!registrationForm.valid" value="Submit" class="button">
        </form>
        <section class="errors">
            <div *ngIf="registrationForm.get('username')?.hasError('taken')">Username taken. Please enter again</div>
            <div *ngIf="registrationForm.get('password')?.hasError('pattern')">Password must have:
                <div>&#x2022; 5 characters</div>
                <div>&#x2022; capital letter</div>
                <div>&#x2022; lowercase letter</div>
                <div>&#x2022; number</div>
            </div>
            <div *ngIf="registrationForm.hasError('notSame')">Passwords must match</div>
        </section>
    </section>
    <section *ngIf="registrationComplete">
        <h1>Account Created Succesfully</h1>
        <form>
            <button type="button" onclick="toLoginPage()">Click here to return to Login</button>
        </form>
    </section>
</body>