<body>
    <section *ngIf="!registrationComplete">
        <h1>Create Account</h1>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
            <label for="username">Enter Username: </label>
            <input type="text" id="username" name="username" value="" formControlName="username">
            <label for="password">Enter Password: </label>
            <input type="text" id="password" name="password" value="" formControlName="password">
            <input type="submit" [disabled]="!loginForm.valid" value="submit" class="button">
        </form>
        <div *ngIf="usernameTaken">Username taken. Please enter again</div>
    </section>
    <section *ngIf="registrationComplete">
        <h1>Account Created Succesfully</h1>
        <form>
            <button type="button" onclick="toLoginPage()">Click here to return to Login</button>
        </form>
    </section>
</body>