<p>bot works!</p>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>

      <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <button class="cta-button" (click)="homePage()">Home</button>
        <button class="cta-button">Features</button>
        <button class="cta-button">FAQs</button>
        <button class="cta-button">About</button>
      </div>


      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>
    <div class="chat-wrapper">
      <div class="chatbox">
        <div *ngFor="let message of messages">
          {{ message }}
        </div>
      </div>

      <div class="input-box">
        <input type="text" [(ngModel)]="newMessage">
        <button (click)="submit()">Send</button>
      </div>
    </div>
</div>
