.chat-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  height: 75%;
  background-color: black;
  color: white;
  border: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cta-button {
  border-radius: 10px;
  margin-right: 10px;
}


.chatbox {
  overflow-y: scroll;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.bot-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-text {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
  max-width: 75%;
  color: white;
}

.input-box {
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.input-box input {
  flex: 1;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #000000;
  color: white;
}
