<div style="
height: calc(100vh - 50px);
width: 75%;
margin-left: 10%;
">

  <div class="chat-wrapper">
    <div *ngIf="!generateImg" class="chatbox">
      <div *ngFor="let message of messages">
        <div class="message">
          <div class="bot-content" *ngIf="message.type == 'response'">
            <img src="assets/img/bot.png" alt="Bot Icon" width="40" height="40">
            Bot: {{ message.message }}
          </div>
          <div class="user-content" *ngIf="message.type == 'prompt'">
            <img alt="User Icon" height="40" src="assets/img/user.png" width="40">
            User: {{ message.message }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="generateImg" class="images" style="display: flex; overflow: scroll;">
      <img (click)="onImgClick()" *ngIf="imgURL && imgPreview" class="generated-img" src="{{imgURL}}"
           style="width: 65%;">
      <img (click)="onImgClick()" *ngIf="imgURL && !imgPreview" class="generated-img" src="{{imgURL}}"
           style="width: auto;">
    </div>

    <div class="input-box">
      <input (keypress)="onKeyPress($event)" [(ngModel)]="prompt" type="text">
      <button (click)="submit()" *ngIf="!generateImg">Send</button>
      <button (click)="onGenerate()" *ngIf="!generateImg">Generate Image</button>
      <button (click)="generate()" *ngIf="generateImg">Send</button>
      <button (click)="onChat()" *ngIf="generateImg">Chat with Bot</button>
    </div>
  </div>
</div>

