<html>
    <body *ngIf="userHTTP" class="content">
        <h1>
            {{ userHTTP.username }} 
        </h1>
        <h6>
            <section *ngIf="!updatePassword">
                <button (click)="onUpdatePassword()">Change Password</button>
            </section>
            <section *ngIf="updatePassword">
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword(passwordForm.value)">
                    <label for="new password">New Password:</label>
                    <input type="password" id="new password" name="new password" value="" formControlName="password">
                    <label for="confirm password">Confirm Password:</label>
                    <input type="password" id="confirm password" name="confirm password" value="" formControlName="confirm">
                    <input type="submit" value="Submit" [disabled]="!passwordForm.valid">
                    <input type="button" (click)="onCancelPassword()" value="Cancel">
                </form>
                <div *ngIf="updatePassword" class="errors">
                    <div *ngIf="passwordForm.hasError('notSame')">Passwords do not match</div>
                    <div *ngIf="passwordForm.get('password')?.hasError('pattern')">Password must have:
                        <div>&#x2022; 5 characters</div>
                        <div>&#x2022; capital letter</div>
                        <div>&#x2022; lowercase letter</div>
                        <div>&#x2022; number</div>
                    </div>
                </div>
            </section>
        </h6>
        <h3>{{ userHTTP.status }}</h3>
        <h4>
            <section *ngIf="!showContacts">
                <div>
                    <button (click)="onShowContacts()">Contacts</button>
                </div>
            </section>
            <section *ngIf="showContacts">
                <span style="display: inline-block;">
                    <span *ngIf="!addContact">
                        <button class="add-contact-button" (click)="onAddContact()">🞢</button>
                    </span>
                    <span *ngIf="addContact">
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmitContact(contactForm.value)" style="display: inline;">
                            <label for="new contact">New Contact:</label>
                            <input type="text" id="new contact" name="new contact" value="" formControlName="contact">
                            <input type="submit" value="Submit" [disabled]="!contactForm.valid">
                            <input type="button" (click)="onCancelContact()" value="Cancel">
                        </form>
                    </span>
                    <button class="close-button" (click)="onHideContacts()">&#x2573;</button>
                </span>
                <section class="errors" *ngIf="addContact">
                    <div *ngIf="contactForm.get('contact')?.hasError('missing')">Contact Not Found</div>
                </section>
                <div *ngFor="let contact of contacts">
                    <section *ngIf="!deleteContact">
                        {{contact.contact}}
                        <button class="delete-button" (click)="onRequestDeleteContact()">Delete</button>
                    </section>
                    <section *ngIf="deleteContact">
                        <button (click)="onDeleteContact(contact.id)" class="confirm-button">Confirm</button>
                        <button (click)="onCancelDeleteContact()">Cancel</button>
                    </section>
                </div>
            </section>
        </h4>
        
        <section *ngIf="newChat">
            <form [formGroup]="chatForm" (ngSubmit)="onSubmitChat(chatForm.value)">
                <label for="users">Add Users:</label>
                <select id="users" name="users" multiple>
                    <option *ngFor="let contact of contacts">{{contact.contact}}</option>
                </select>
                <input type="submit" value="Submit" [disabled]="!chatForm.valid">
                <input type="button" (click)="onCancelChat()" value="Cancel">
            </form>
        </section>
        <section *ngIf="!newChat">
            <button (click)="onAddChat()">New Chat</button><br>
            <h2>Select Chat:</h2>
            <div *ngFor="let chat of userHTTP.past_chats" id="pastChats">
                <button (click)="onChatClick(chat.past_chat_id)">{{chat.past_chat_id}}</button>
                <span>Users: {{pastChatUsers.get(chat.past_chat_id)}}</span>
            </div>
        </section>
    </body>
</html>