<html>
    <body *ngIf="userHTTP">
        <h1>
            {{ userHTTP.username }} 
        </h1>
        <h2>
            <section *ngIf="!updatePassword">
                <button (click)="onUpdatePassword()">Change Password</button>
            </section>
            <section *ngIf="updatePassword">
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword(passwordForm.value)">
                    <label for="new password">New Password:</label>
                    <input type="password" id="new password" name="new password" value="" formControlName="password">
                    <label for="confirm password">Confirm Password:</label>
                    <input type="password" id="confirm password" name="confirm password" value="" formControlName="confirm">
                    <input type="submit" value="Submit" [disabled]="!passwordForm.valid">
                    <input type="button" (click)="onCancelPassword()" value="Cancel">
                </form>
            </section>
        </h2>
        <div *ngIf="updatePassword" class="errors">
            <div *ngIf="passwordForm.hasError('notSame')">Passwords do not match</div>
            <div *ngIf="passwordForm.get('password')?.hasError('pattern')">Password must have:
                <div>&#x2022; 5 characters</div>
                <div>&#x2022; capital letter</div>
                <div>&#x2022; lowercase letter</div>
                <div>&#x2022; number</div>
            </div>
        </div>
        <h3>{{ userHTTP.status }}</h3>
        <h4>
            <section *ngIf="!showContacts">
                <div>
                    <button (click)="onShowContacts()">Contacts</button>
                </div>
            </section>
            <section *ngIf="showContacts">
                <section *ngIf="addContact">
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmitContact(contactForm.value)">
                        <label for="new contact">New Contact:</label>
                        <input type="text" id="new contact" name="new contact" value="" formControlName="contact">
                        <input type="submit" value="Submit" [disabled]="!contactForm.valid">
                        <input type="button" (click)="onCancelContact()" value="Cancel">
                    </form>
                    <section class="errors">
                        <div *ngIf="contactForm.get('contact')?.hasError('missing')">Contact Not Found</div>
                    </section>
                </section>
                <section *ngIf="!addContact">
                    <button (click)="onAddContact()">add</button>
                </section>
                <div *ngFor="let contact of userHTTP.contacts">
                    {{contact.contact}}
                    <button>Delete</button>
                </div>
                <button (click)="onHideContacts()">close</button>
            </section>
        </h4>
        
        <section *ngIf="addChat">
            <form [formGroup]="chatForm" (ngSubmit)="onSubmitChat(chatForm.value)">
                <label for="users">Add Users:</label>
                <select id="users" name="users" multiple>
                    <option *ngFor="let contact of userHTTP.contacts">{{contact.contact}}</option>
                </select>
                <input type="submit" value="Submit" [disabled]="!chatForm.valid">
                <input type="button" (click)="onCancelChat()" value="Cancel">
            </form>
        </section>
        <section *ngIf="!addChat">
            <button (click)="onAddChat()">Add Chat</button><br>
            <div>Select Chat:</div>
            <button (click)="onChatClick(chat.past_chat_id)" *ngFor="let chat of userHTTP.past_chats" id="pastChats">{{chat.past_chat_id}}</button>
        </section>
    
    </body>
</html>