.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0f0f; /* light gray background color */
  background-image: url(/assets/img/pic2.jpg);
  background-position: center;
  background-size: cover;
}

h2 {
  text-align: center;
}

.blurb {
  background-image: url('/assets/img/p.jpeg');
  background-size: 100%;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  height: 100vh;
  color: #111111;
  text-shadow: 1px 1px #fff; /* subtle text shadow */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px; /* large font size */
  color: #f8f8f8; /* dark text color */
  text-shadow: 2px 2px #ff9800; /* subtle text shadow */
}
