.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0f0f; /* light gray background color */
  background-image: url(/assets/img/pic2.jpg);
  background-position: center;
  background-size: cover;
}

h2 {
  text-align: center;
}

.blurb {
  background-image: url('/assets/img/p.jpeg');
  background-size: 100%;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  height: 100vh;
  color: #111111;
  text-shadow: 1px 1px #fff; /* subtle text shadow */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px; /* large font size */
  color: #f8f8f8; /* dark text color */
  text-shadow: 2px 2px #ff9800; /* subtle text shadow */
}

.cta-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px; /* add some space between header and buttons */
}

.cta-button {
  padding: 20px 30px; /* larger button size */
  font-size: 24px; /* larger font size */
  background-color: #ff9800; /* bright orange button color */
  color: #fff; /* white text color */
  border: none;
  border-radius: 50px; /* round button edges */
  cursor: pointer;
  margin: 20px; /* larger margin */
  box-shadow: 2px 2px 5px #999; /* subtle box shadow */
  transition: transform 0.2s ease-in-out; /* add button hover effect */
}

.cta-button:hover {
  transform: scale(1.1); /* scale up button on hover */
}

.sign-in-button {
  position: absolute;
  top: 20px;
  right: 20px;
}