<div *ngIf="chat">
    <div class="grid-container">
        <div class="grid-item grid-item-1">
            <button class="cta-button" (click)="chatSettings()">Chat Settings</button>
            <button class="delete-button" *ngIf="privileges.delete_chat">Delete</button>
        </div>
        <div id="chatArea">
            <div *ngIf="chat">
                <div *ngFor="let m of messages">
                    <span style="display: inline-flex;">
                        <app-message  [message]="m"></app-message>
                        <button class="delete-button" *ngIf="privileges.delete_message">Delete</button>
                    </span>
                </div>
            </div>
        </div>
        <div id="messageArea">
            <input type="text" [(ngModel)]="chatMessage" placeholder="Enter your message">
            <button (click)="sendStringMessage()" [disabled]="!chatMessage">Send</button>
        </div>
    </div>
</div>
