.grid-container {
    display: grid;
    border: solid 2px #fb0000;
}

#chatArea {
    height: 450px;
    overflow-y: scroll;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 10px;
}
