<body>
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <label for="username">Enter Username: </label>
        <input type="text" id="username" name="username" value="" formControlName="username">
        <label for="password">Enter Password: </label>
        <input type="text" id="password" name="password" value="" formControlName="password">
        <input type="submit" [disabled]="!loginForm.valid" value="submit" class="button">
    </form>
    <div *ngIf="loginFailure">Login Failure. Please enter again</div>
</body>